.PlaceOrder {
    position: relative;
    width: 400px;
    height: 600px;
    z-index: 10001;
    background-color: white;
    color: black;
}

.Draggable {
    z-index: 0;
    position: absolute;
    width: 315px;
    height: 335px;
    background-color: #292933;
}

.Header {
    padding: 5px;
    padding-left: 20px;
    font-weight: bold;
    border-bottom: 1px solid #37373c;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    cursor: move;
}

.Header img {
    width: 15px;
    cursor: pointer;
    margin-right: 15px;
}

.SelectPart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 20px;
}

.Error {
    color: red;
    text-align: center;
}

.Input {
    width: 80%;
    padding: 10px;
    border: 2px solid #37373c;
    border-radius: 5px;
    transition: 0.2s ease;
    margin-bottom: 16px;
    background-color: #202028;
}

.Input::placeholder {
    color:#37373c;
    font-size: 12px;
}

.Input:hover {
    border: 1px solid gray;
}

.Input:focus {
    outline: none;
    border: 1px solid gray;
    box-shadow: 0px 0px 15px #20a8d8;
}

.ButtonPart {
    border-top: 1px solid #37373c;
    position: absolute;
    bottom: 5%;
    right: 0;
    width: calc(100% - 10px);
    display: flex;
    justify-content: flex-end;
    padding-top:10px;
    padding-right: 10px;
}

.ButtonPart button {
    margin-right: 10px;
}

.HeaderGroup {
    display: flex;
    width: 70%;
    justify-content: flex-start;
    align-items: center;
}

.HeaderGroup p {
    margin-right: 40px;
}

.Row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.WrapTitle {
    width: 30%;
}

.WrapTitle p {
    margin-top: 10px;
}


