.Card {
  width: 400px;
  height: 200px;
  background-color: rgb(46, 53, 67);
  margin: 5px;
}

.Card:hover {
  background-color: rgb(61, 68, 85);
}

.Card:hover .CardControl button {
  background-color: #262c3a;
}

.CardHeader {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.CardContent {
  display: flex;
}

.CardDate {
  color: gray;
  font-size: 10px;
  align-self: center;
}

.CardGraph {
  z-index: 0;
  flex: 60%;
  justify-content: center;
  align-items: center;
}

.CardControl {
  display: flex;
  flex: 40%;
  flex-direction: column;
}

.CardControl button {
  display: flex;
  background: none;
  border: none;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
  height: 40%;
}

.CurrentPrice {
  font-size: 36px;
  margin: 0;
  margin-left: 2px;
}

.CardInput {
  position: relative;
  top: -10px;
  display: flex;
  align-items: center;
}

.CardInput p {
  font-size: 10px;
  color: gray;
  margin: 0 10px;
}

.CardInput input {
  background: none;
  border: none;
  height: 20px;
  color: white;
  text-align: center;
  font-size: 15px;
}

.Card:hover .CardInput input {
  border-bottom: 1px solid white;
}

.Sell:hover {
  background-color: rgb(249, 76, 76) !important;
  cursor: pointer;
}

.Buy:hover {
  background-color: rgb(95, 148, 245) !important;
  cursor: pointer;
}
