.react-select__control:focus {
    outline: none;
    border: 1px solid gray;
    box-shadow: 0px 0px 15px #20a8d8;
}

.react-select__option:hover {
    background: rgb(34,173,246);
    background: linear-gradient(90deg,  rgba(93,193,246,1) 0%,rgba(93,193,246,1) 100%);
    cursor: pointer;
}