.Caption {
  width: calc(100% - 5px);
  padding: 5px;
  font-size: 12px;
  color: #9DA5D4;
  margin: 0;
}

.Caption:hover {
  background-color: black;
  cursor: pointer;
}

.List {
  list-style-type: none;
  width: calc(100% - 2px);
  padding: 2px;
  font-size: 12px;
  color: #9DA5D4;

  margin: 0;
}

.List li {
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: calc(100% - 30px);
}

.List li:hover {
  background-color: black;
  cursor: pointer;
}