.Button {
    width: 85px;
    height: 33px;
    background-color: #22ADF6;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s ease;
}

.Button:disabled {
    background-color: #383846;
    color: rgb(187, 184, 184);
}

.Button:enabled:hover {
    background-color: rgb(72, 181, 240);
    cursor: pointer;
}

.ButtonDisabled {
    width: 85px;
    height: 33px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    background-color: #383846;
    color: #bbb8b8;
  }

  .ButtonDisabled:enabled:hover {
    cursor: pointer;
  }