.Grid {
  width: 70%;
  height: calc(100vh - 55px);
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-evenly;
}

.Filters {
  display: flex;
  align-items: center;
  padding: 10px;
}

.Filters ul {
  list-style: none;
  display: flex;
}

.Filters li {
  margin-right: 10px;
  cursor: pointer;
}
