.Grid {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-evenly;
  background-color: #272d3a;
}

.Filters {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  background-color: #272d3a;
}

.Filters ul {
  list-style: none;
  display: flex;
}

.Filters li {
  margin-right: 10px;
  cursor: pointer;
}
